head
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="MetaMix allows you to visualize furniture in your home before you buy them. Use our Augmented reality experience for better shopping."/>
    title=title
    <link rel="stylesheet" href="/css/style.css" />
