doctype html
html(lang="en")
    include includes/customHead.pug
    body
        include includes/nav.pug
        div(class="error-card")
            img(src=`/img/errors/${code}.png` alt="Error illustration")