doctype html
html(lang="en")
    include includes/customHead.pug
    body
        include includes/nav.pug
        
        div(class="category-container container" id="category")
            each category, key in categories 
                a(class=`btn-thin pill ${key == currentCategory ? 'btn-active': ''}` id=key href=`/explore/${key}/${category[0].subCategory.slug}`)=category[0].category.name

        div(class="category-container container" id="sub-category")
            each item in subCategories
                a(class=`btn-thin pill ${item.subCategory.slug == currentSubCategory ? 'btn-active': ''}` id=item.subCategory.slug href=`/explore/${currentCategory}/${item.subCategory.slug}`)=item.subCategory.name
        div(class="products container")
            each product in products 
                include includes/cards.pug

        include includes/footer.pug
        script(src="/js/explore.js") 